 @font-face {
    font-family: "Roboto-Italic";
    src: url(fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf)  format("opentype");
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf)  format("opentype");
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

svg {
    width: 38px;
    height: 38px;
}

.content {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: 240px 1fr;
}

.left-side-container {
    height: 100%; 
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: #349ee4;
}

.header-left-side {
    display: flex;
    flex-direction: column;
    padding: 15px 40px 40px 15px;
    letter-spacing: 0.5px;
}

.svg-container {
    display: flex;
    align-items: center;
    padding: 15px 20px;
}

.svg-container:hover {
    transition: all 0.2s ease;
    transform: scale(1.02);
}

.svg-text {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 24px;
}

.svg-text:not(.dashboard-text) {
    padding-left: 25px;
}

.settings-svg, .messages-svg, .home-svg, .dashboard-svg {
    fill: #fff;
}

.dashboard-svg {
    width: 75px;
    height: 70px;
}

.dashboard-text {
    padding-left: 11px;
    font-size: 37px;
}

.messages-svg {
    transform: rotateY(190deg);
}

.main-left-side {
    padding-bottom: 70px;
}


.header-container {
    display: flex;
    flex-direction: column;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 15px;
    padding-right: 40px;
}

.search-field {
    display: flex;
    padding: 3px 30px;
    flex-grow: 1;
    align-items: center;
}

.search-svg {
    margin-left: 30px;
    height: 30px;
    width: 35px;
}

input {
    width: 50%;
    height: 43px;
    margin-left: 45px;
    margin-right: 80px;
    background-color: rgb(221, 231, 248);
    border: none;
    border-radius: 9999px;
}

.notification-svg {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 15%;
}

.main-character-container {
    display: flex;
    width: auto;
    margin-left: 15px;
    align-items: center;
    white-space: nowrap;
}

.main-icon-svg {
    width: 80px;
    height: 60px;
    flex-shrink: 0;
}

.main-character-container > h2 {
    margin-left: 30px;
    font-size: 26px;
}

.header-toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-bottom: 25px;
}

.user-container .main-icon-svg {
    width: 100px;
    height: 150px;
}

.user-profile {
    height: 100px;
    margin-left: 12px;
    line-height: 1.6;
}

.user-profile p {
    font-size: 17px;
    font-weight: 550;
}

.user-profile h2 {
    font-size: 25px;
    letter-spacing: 0.5px;
}

.toolbar-container {
    margin-right: 80px;
    margin-bottom: 40px;
}

.toolbar-container button {
    width: 120px;
    height: 50px;
    padding: 12px;
    border-radius: 23px;
    background-color: #349ee4;
    color: white;
    font-size: 22px;
    font-weight: 550;
    align-items: center;
    border: none;
    margin-right: 30px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
}

.toolbar-container button:hover {
    transform: scale(1.015);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.toolbar-container button:active {
    transform: scale(0.95);
}

.toolbar-container button:focus {
    border: none;
}

.main-grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(auto-fit, 1.5fr);
    grid-column: 2 / -1;
    background-color:#dfe4e9;
    padding: 20px 15px 30px 25px;
    z-index: 0;
}

.project-container {
    grid-column: 1 / 3;
    grid-row: 2 / -4;
}

.projects-container h2 {
    font-size: 25px;
    padding-top: 18px;
    padding-bottom: 13px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 50px;
}

.project-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px 50px 10px 30px;
    border-left: 10px solid rgb(241, 202, 28);
    border-radius: 10px;
    transition: 0.2s ease;
}

.project-section:hover {
    transform: scale(1.02);
}

.project-section h2 {
    font-size: 25px;
}

.project-section p {
    font-size: 20px;
    line-height: 1.5;
    color: gray;
}

.projects .svg-container {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: auto;
    cursor: pointer;
}

.star-svg, .follow-svg, .branch-svg {
    margin-right: 30px;
    width: 40px;    
    height: 35px;
}

.branch-svg {
    margin-right: 5px;
}

.star-svg-container, .follow-svg-container, .branch-svg-container {
    transition: all 0.2s ease;
}

.star-svg-container:hover, .follow-svg-container:hover, .branch-svg-container:hover {
    transform: scale(1.05);
}

.right-side-bar-container {
    grid-row: 2 / -4;
    grid-column: 2 / -1;
}

.right-side-bar-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.3fr;
    padding: 25px 55px;
}

.announcements-container {
    grid-row: 1 / 2;    
} 

.announcements-container h2, .trending-container h2 {
    letter-spacing: 0.4px;
    font-size: 25px;
    padding-bottom: 10px;
}

.announcements-content, .trending-content {
    background-color: white;
    padding: 35px;
    border-radius: 10px;
}

.announcements-content h2 {
    font-size: 20px;
    padding-bottom: 4px;
    padding-top: 5px;
}

.announcements-content h2:first-of-type {
    padding-top: 0;
}

.announcements-content p {
    letter-spacing: 0.2px;
    line-height: 1.5;
    color: gray;
    font-size: 19px;
}

.announcements {
    padding: 15px 0;
    border-bottom: 1px solid rgb(179, 177, 177);
}

.announcements:last-of-type {
    border-bottom: none;
}

.trending-container {
    grid-row: 2 / 3;
    margin-top: 50px;
}

.trending-container h2 {
    padding-top: 0;
    padding-bottom: 8px;
}

.trending-content {
    padding: 15px 30px;
}

.trending {
    display: flex;
    padding-bottom: 15px;
    padding-top: 10px;
}

.trending:first-of-type {
    padding-top: 1px;
}

.trending .icon {
    width: 50px;
    height: 49px;
}

.trending-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.trending-text p:nth-child(odd) {
    font-size: 20px;
    padding-bottom: 1px;
}

.trending-text p:nth-child(even) {
    color: #6e6e6e;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.3px;
}