 @font-face {
    font-family: "Roboto-Italic";
    src: url(fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf)  format("opentype");
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf)  format("opentype");
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

svg {
    width: 38px;
    height: 38px;
}

.main-content {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: 240px 1fr;
}

.left-side-container {
    height: 100%; 
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: #39abf7;
}

.header-left-side {
    display: flex;
    flex-direction: column;
    padding: 15px 40px 40px 15px;
    letter-spacing: 0.5px;
}

.svg-container {
    display: flex;
    align-items: center;
    padding: 15px 20px;
}

.svg-container:hover {
    transition: all 0.2s ease;
    transform: scale(1.02);
}

.svg-text {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 24px;
}

.svg-text:not(.dashboard-text) {
    padding-left: 25px;
}

.settings-svg, .messages-svg, .home-svg, .dashboard-svg {
    fill: #fff;
}

.dashboard-svg {
    width: 75px;
    height: 70px;
}

.dashboard-text {
    padding-left: 11px;
    font-size: 37px;
}

.messages-svg {
    transform: rotateY(190deg);
}

.main-left-side {
    padding-bottom: 70px;
}


.header-container {
    display: flex;
    flex-direction: column;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 15px;
    padding-right: 40px;
}

.search-field {
    display: flex;
    padding: 3px 30px;
    flex-grow: 1;
    align-items: center;
}

.search-svg {
    margin-left: 30px;
    height: 30px;
    width: 35px;
}

input {
    width: 50%;
    height: 43px;
    margin-left: 45px;
    margin-right: 80px;
    background-color: rgb(221, 231, 248);
    border: none;
    border-radius: 9999px;
}

.notification-svg {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 15%;
}

.main-character-container {
    display: flex;
    width: auto;
    margin-left: 15px;
    align-items: center;
    white-space: nowrap;
}

.main-icon-svg {
    width: 80px;
    height: 60px;
    flex-shrink: 0;
}

.main-character-container > h2 {
    margin-left: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 26px;
}

.header-toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-bottom: 25px;
}

.user-container .main-icon-svg {
    width: 100px;
    height: 150px;
}

.user-profile {
    height: 100px;
    margin-left: 12px;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
}

.user-profile p {
    font-size: 17px;
    font-weight: 550;
}

.user-profile h2 {
    font-size: 25px;
    letter-spacing: 0.5px;
}

.toolbar-container {
    margin-right: 80px;
    margin-bottom: 40px;
}

.toolbar-container button {
    width: 120px;
    height: 50px;
    padding: 12px;
    border-radius: 23px;
    background-color: #349ee4;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 550;
    align-items: center;
    border: none;
    margin-right: 30px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
}

.toolbar-container button:hover {
    transform: scale(1.015);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.toolbar-container button:active {
    transform: scale(0.95);
}
